@import "../styles/variables.scss";

.container {
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  overflow: auto;
}

.background {
  position: relative;
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  @include bg-contain;
  background-image: url("/maproomplayground/entry/background.png");
  @media screen and (min-width: 1920px) {
    width: 100vw;
    height: calc(100vw * 1080 / 1920);
  }
  @media screen and (min-height: 1080px) {
    width: calc(100vh * 1920 / 1080);
    height: calc(var(--vh, 1vh) * 100);
  }
  // @media screen and (min-height: 1080px) and (orientation: landscape) {
  //   width: 100vw;
  //   height: calc(var(--vh, 1vh) * 100);
  //   // @include bg-cover;
  // }
  @media screen and (orientation: portrait) and (min-width: 1920px) {
    width: calc(100vh * 1920 / 1080);
    height: calc(var(--vh, 1vh) * 100);
  }
}

.enter {
  position: absolute;
  z-index: 1;
  left: calc(50% - 150px / 2);
  bottom: 50px;
  width: 150px;
  height: 40px;
  line-height: 38px;
  border-radius: 10px;
  background-color: #000;
  color: #fff;
  text-align: center;
  letter-spacing: 1.5px;
  font-size: 20px;
  cursor: pointer;
}
