@import "../styles/variables.scss";

.menu_icon_block {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 5;
  @include phone {
    top: 11px;
    left: 11px;
  }
}

.music_icon {
  position: absolute;
  top: 20px;
  left: 85px;
  z-index: 2;
  @include phone {
    top: 11px;
    left: 61px;
  }
}

.info_icon {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
  @include phone {
    top: 11px;
    right: 11px;
  }
}
