@import "../styles/variables.scss";

.container {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: #fff;
  font-size: 14px;
  display: flex;
  line-height: 20px;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 500;
}
