@import "../styles/variables.scss";

.container {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background-color: #a5a5a5;
  display: flex;
  cursor: pointer;
  @include flex-center;
  @include hover-limit {
    &:hover {
      background-color: rgba(#000, 0.9);
    }
  }

  &:active {
    background-color: rgba(#000, 0.9);
  }

  & > svg {
    margin-left: -3px; // adjust not in center
  }
}
