@import "../styles/variables.scss";

.container {
  cursor: pointer;

  &.active {
    transform: rotate(90deg);
    transform-box: fill-box;
    transform-origin: center;
    & > * path {
      fill: #f4cd2a;
    }
  }

  &.menu_active {
    transform-box: fill-box;
    transform-origin: center;
    & > * path {
      fill: #f4cd2a;
    }
  }
}
