@import "../styles/variables.scss";

.container {
  cursor: pointer;
  @include hover-limit {
    &:hover {
      & > path {
        fill: #8e8e8e;
      }
    }
  }

  &:active {
    & > path {
      fill: #8e8e8e;
    }
  }
}
